*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.707),  rgba(0, 0, 0, 0.707)),
    url(../images/group-img1.png);
    background-size: cover;  
}

.nav_btn{
    float: right;
}
.head_img img{
    height: 7vh;
    width: 8vw;
}
header h1{
    text-align: center;
    color: #FFF;
    margin: 22rem auto;
}
header span{
    color: #4DB0BA;
}
.innover{
    height: 40%;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
}
.inno_img div{
    font-size: 1%;
    width: 65%;
}
.inno_img span{
    color: #4DB0BA;
}
.inno_img img{
    height: 30%;
    width: 30%;
    border-radius: 5px;
}
.bleu_div{
    height: 50%;
    width: 100%;
    background-color: #4DB0BA;
    padding: 3rem 2rem;
    color: #FFF;
}
.menu div{
    height: 15%;
    width: 32%;
    color: #FFF;
    margin: 2rem 0.3rem;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 1.2rem;
}

.question_ins{
    height: 40%;
    padding: 1rem;
    width: 90%;
    margin: 2rem auto;
}
.question_img div{
    width: 55%;
    background-color: #DC3545;
    border-radius: 10px;
    color: #FFF;
    padding: 1rem;
}
.question_img img{
    height: 30%;
    width: 30%;
    border-radius: 5px;
}
.trait_et_rond{
    height: 35vh;
}
.trait_et_rond .div1{
    height: 100%;
    width: 30%;
    padding: 2rem;
}
.trait_et_rond .div2{
    height: 100%;
    width: 30%;
    padding: 2rem;
}
.trait_et_rond .div3{
    height: 100%;
    width: 30%;
    padding: 2rem;
}
hr{
    border: 3px solid #D9D9D9;
}
.carré{
    border: 3px solid #DC3545;
    width: 20%;
    margin: 2rem auto;
}
.trait_et_rond h5{
    text-align: center;
}
.rond{
    background-color: #4DB0BA;
    width: 20%;
    color: #FFF;
    height: 30%;
    border-radius: 50%;
    margin: 2rem auto;
    padding: 2rem;
}
.rond p{
    text-align: center;
}
.blog{
    height: 33vh;
}
.blog h1{
    text-align: center;
}
.blog_content{
    height: 100%;
    width: 100%;
}
.blog_content div{
    height: 60%;
    width: 48%;
    background-color: #DC3545;
    margin: 1.5rem;
    border-radius: 5px;
    background-color: #4DB0BA;
}
.blog_content img{
    padding: 1rem;
    float: left;
    height: 100%;
    width: 35%;
    border-radius: 5px;
}